{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'frameworks/fontawesome-free-5.15.4-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'frameworks/fontawesome-free-6.0.0-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'frameworks/Plugins/fontawesome/css/font-awesome.min.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Mb Shawarma</title>
</head>
<style>
    
</style>
<body>
    <section class="section">
        <div class="header">
        <div class="nav">
                <img class="real" src="{% static 'img/real logo.png' %}" alt="">

                <nav class="dropdownmenu">
                    <input type="checkbox" name="" id="check">
                    <label for="check" class="checkbtn">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </label>
                    <ul>
                        <li ><a href="{% url 'admin:index' %}"><b>Home</b></a></li>
                        <li><a href=""> <b>Our server</b></a>
                            <ul class="ag" id="submit">
                                <li><a href="{% url 'order_list' %}"><b>Order</b></a></li>
                                <li><a href="{% url 'address_detail' %}">View Address</a>
                            </ul>
                            
                        </li>
                        <li><a href=""><b>Contact us</b></a></li>
                        <li><a href=""><b>Tracker</b></a></li>
                        <li><a href=""><b>Join Mb</b></a></li>
                      
                    </ul>
                </nav>

            </div>

            <div class="ulc">
                <div class="me" data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="1500" >
                    <h3 class="elit">Spacial Shawarma Bite Just The Way You Like It</h3>
                    <h6 class="head">We seal Shawarma we used Mayonnaise,Chicken,Sausage,Pepper,Tomatoes-ketchup,Cabbage, Shawarma-Bread we did our Best Work and made Mb Shawarma Bite for you.</h6>
                  <a href=""><button class="tail"><b>Order Now</b></button></a>
                </div>
                <div>
                    <img class="firstimg" data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="1500" src="{% static 'img/eating-contests-2-burritos.jpg' %}" alt="">
                </div>


            </div>

        </div>

    </section>

    
    <script src="{% static 'frameworks/bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'frameworks/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./home.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>